{% extends 'layouts/base.html' %}
{% load static %}
{% block extrastyle %}
  <style>
    .Wcss{ 
    display: inline-flex;
    }
  </style>
{% endblock extrastyle %}  
{% block content %}
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-lg-10">
      <div class="card">
        <div class="card-header">
          <h5>{{ title }}</h5>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
              <div class="alert alert-danger">
                {{ form.non_field_errors }}
              </div>
            {% endif %}
            
            {{ form.as_p }} <!-- Affiche les champs du formulaire -->
            
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ cancel_url }}" class="btn btn-secondary">Annuler</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}