{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Liste des Salles</h5>
                <a href="{{ create_url }}" class="btn btn-primary float-right">Ajouter une Salle</a>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Numéro de la Salle</th>
                                <th scope="col">Bâtiment</th>
                                <th scope="col">Étage</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ room.room_number }}</td>
                                <td>{{ room.building.name }}</td>
                                <td>{{ room.floor.number }}</td>
                                <td>{{ room.available|yesno:"Disponible,Indisponible" }}</td>
                                <td>
                                    <a href="{% url edit_url room.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                    <a href="{% url delete_url room.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
