{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>{{title}}</h5>
                
                {% if perms.rooms.add_room %}
                    <a href="{{ create_url }}" class="btn btn-success float-right"><i class="fa fa-plus-circle"></i>Ajouter une Salle</a>
                {% endif %}
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Numéro de la Salle</th>
                                <th scope="col">Emplacement</th>
                                {% comment %} <th scope="col">Étage</th> {% endcomment %}
                                <th scope="col">Disponibilité</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> Salle {{ room.room_number }} </td>
                                <td>Étage {{ room.floor.number }} - {{ room.building.name }}</td>
                                {% comment %} <td>{{ room.floor.number }}</td> {% endcomment %}
                                <td>{{ room.available|yesno:"Disponible,Indisponible" }}</td>
                                <td>
                                    {% if perms.rooms.change_room %}
                                        <a href="{% url edit_url room.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                    {% endif %}
                                    {% if perms.rooms.delete_room %}
                                        <a href="{% url delete_url room.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
