{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5>Liste des Administrateurs</h5>
            <a href="{{ create_url }}" class="btn btn-primary float-right">Ajouter un Administrateur</a>
          </div>
          <div class="card-block table-border-style">
            <div class="table-responsive">
              <table class="table table-hover dataTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Numéro de Téléphone</th>
                    {% comment %} <th scope="col">Date de Naissance</th> {% endcomment %}
                    <th scope="col">Adresse</th>
                    {% comment %} <th scope="col">Type d'Administrateur</th> {% endcomment %}
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>
                      {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Photo de {{ user.first_name }}" width="50" height="50" class="rounded-circle">
                      {% else %}
                        {% if user.gender == "female" %}<img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                          alt="activity-user">
                          {% else %}
                          <img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-2.jpg' %}"
                          alt="activity-user">
                          {% endif %}
                      {% endif %}
                    </td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    {% comment %} <td>{{ user.date_of_birth }}</td>  {% endcomment %}
                    <td>{{ user.address }}</td> 
                    {% comment %} <td>{{ user.adminprofile.admin_type.name }}</td> {% endcomment %}
                    <td>
                      <a href="{% url edit_url user.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                      <a href="{% url delete_url user.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
