{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5>Liste des Enseignants</h5>
            {% if perms.users.add_teacherprofile %}
              <a href="{{ create_url }}" class="btn btn-success float-right"><i class="fa fa-plus-circle"></i>Ajouter un Enseignant</a>
            {% endif %}
          </div>
          <div class="card-block table-border-style">
            <div class="table-responsive">
              <table class="table table-hover dataTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Matières Enseignés</th>
                    <th scope="col">Fillières</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <td>
                      {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Photo de {{ user.first_name }}" width="50" height="50" class="rounded-circle">
                      {% else %}
                        {% if user.gender == "female" %}<img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                          alt="activity-user">
                          {% else %}
                          <img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-2.jpg' %}"
                          alt="activity-user">
                          {% endif %}
                      {% endif %}
                    </td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_of_birth }}</td>
                    <td>{{ user.teacherprofile.grade }}</td>
                    
                    <!-- Affichage des matières enseignées -->
                    <td>
                      {% if user.teacherprofile.subjects.all %}
                        {% for subject in user.teacherprofile.subjects.all %}
                          {{ subject.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% else %}
                        <em>Aucune</em>
                      {% endif %}
                    </td>
                    
                    <!-- Affichage des départements et niveaux associés -->
                   <td>
  {% if user.teacherprofile and user.teacherprofile.department_levels.exists %}
    {% for dept_level in user.teacherprofile.department_levels.all %}
      {{ dept_level }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
    <em>Aucun</em>
  {% endif %}
</td>

                    
                    <td>
                      {% if perms.users.change_teacherprofile %}
                        <a href="{% url edit_url user.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                    {% endif %}
                    {% if perms.users.delete_teacherprofile %}
                        <a href="{% url delete_url user.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
