{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header">
            <h5>Confirmer la Suppression</h5>
          </div>
          <div class="card-body">
            <p>Êtes-vous sûr de vouloir supprimer {{ user.first_name }} {{ user.last_name }} ?</p>
            <p><strong>Cette action est irréversible.</strong></p>
            <form method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Supprimer</button>
              <a href="{{ cancel_url }}" class="btn btn-secondary">Annuler</a>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
