{% load static %}

<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/dark-mode.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- Notyf JS -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

<script src="{% static 'assets/js/datatable-all-option.js' %}" defer></script>

<script src="{% static 'assets/js/bootstrap-notify.js' %}" defer></script>

<script type="text/javascript">
    $(document).ready(function() {
        {% for message in messages %}
            // Type et contenu du message
            var messageType = "{{ message.tags }}"; // 'success', 'info', 'warning', 'error'
            var messageContent = "{{ message }}";
            
            // Définir une icône en fonction du type de message
            var icon = '';
            if (messageType === 'success') {
                icon = 'check-circle';
            } else if (messageType === 'error') {
                icon = 'x-circle';
            } else if (messageType === 'warning') {
                icon = 'alert-circle';
            } else {
                icon = 'info';
            }

            // Affichage du message avec Bootstrap Notify
            $.notify({
                icon: '<i data-feather="' + icon + '" class="notify-icon"></i>', // Icône Feather avec taille contrôlée
                message: messageContent
            }, {
                type: messageType, // 'success', 'info', 'warning', 'danger'
                delay: 5000, // Durée de l'affichage (en ms)
                placement: {
                    from: 'top', 
                    align: 'center' 
                },
                z_index: 9999, // Assurez-vous que la notification apparaisse au-dessus du contenu
                animate: {
                    enter: 'animated fadeInDown', // Animation d'entrée
                    exit: 'animated fadeOutUp' // Animation de sortie
                },
                offset: {
                    x: 0, // Décalage horizontal (centré)
                    y: 10 // Décalage vertical (espacement entre les notifications)
                }
            });

            // Initialiser Feather icons après l'insertion de la notification
            feather.replace();
        {% endfor %}
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
    // Initialisation de select2 pour le sélecteur de matières
    $('.select2').select2({
        //placeholder: 'Sélectionnez une matière',
        allowClear: true,
        width: '100%'
    });
    });
</script>
