{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href=" " class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Timelya</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>

        <!-- Tableau de bord accessible par tous les utilisateurs -->
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %}active{% endif %}">
          <a href=" " class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Tableau de bord</span>
          </a>
        </li>

        {% if user.is_admin %}
        <!-- Section pour l'Admin -->
        <li class="nav-item pcoded-menu-caption"><label>Utilisateurs</label></li>
        <!-- Menu des Admins -->
        <li class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-users"></i></span>
            <span class="pcoded-mtext">Gestion des Admins</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="nav-item">
              <a href="{% url 'users:admins_list' %}" class="nav-link">Liste des admins</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:create_admin' %}" class="nav-link">Ajouter un admin</a>
            </li>
          </ul>
        </li>

        <!-- Menu des Professeurs -->
        <li class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-users"></i></span>
            <span class="pcoded-mtext">Gestion des Professeurs</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="nav-item">
              <a href="{% url 'users:teachers_list' %}" class="nav-link">Liste des professeurs</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:create_teacher' %}" class="nav-link">Ajouter un professeur</a>
            </li>
          </ul>
        </li>

        <!-- Menu des Étudiants -->
        <li class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-users"></i></span>
            <span class="pcoded-mtext">Gestion des Étudiants</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="nav-item">
              <a href="{% url 'users:students_list' %}" class="nav-link">Liste des étudiants</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:create_student' %}" class="nav-link">Ajouter un étudiant</a>
            </li>
          </ul>
        </li>

        <!-- Menu des Parents -->
        <li class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-users"></i></span>
            <span class="pcoded-mtext">Gestion des Parents</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="nav-item">
              <a href="{% url 'users:parents_list' %}" class="nav-link">Liste des parents</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'users:create_parent' %}" class="nav-link">Ajouter un parent</a>
            </li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_teacher %}
        <!-- Section pour le Professeur -->
        <li class="nav-item pcoded-menu-caption"><label>Emplois du temps</label></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_list' %}" class="nav-link">Liste des emplois du temps</a></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_add' %}" class="nav-link">Ajouter un emploi du temps</a></li>

        <li class="nav-item pcoded-menu-caption"><label>Disponibilité</label></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_list' %}" class="nav-link">Liste des demandes</a></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_add' %}" class="nav-link">Historique des demandes</a></li>

        <li class="nav-item pcoded-menu-caption"><label>Absence</label></li>
        <li class="nav-item"><a href="{% url 'rooms:room_list' %}" class="nav-link">Liste des absences</a></li>
        <li class="nav-item"><a href="{% url 'rooms:room_create' %}" class="nav-link">Ajouter une absence</a></li>
        {% endif %}

        {% if user.is_student %}
        <!-- Section pour l'Etudiant -->
        <li class="nav-item pcoded-menu-caption"><label>Emplois du temps</label></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_list' %}" class="nav-link">Liste des emplois du temps</a></li>

        <li class="nav-item pcoded-menu-caption"><label>Absence</label></li>
        <li class="nav-item"><a href="{% url 'rooms:room_list' %}" class="nav-link">Liste des absences</a></li>
        {% endif %}

        {% if user.is_parent %}
        <!-- Section pour le Parent -->
        <li class="nav-item pcoded-menu-caption"><label>Emplois du temps</label></li>
        <li class="nav-item"><a href="{% url 'courses:departmentlevel_list' %}" class="nav-link">Liste des emplois du temps</a></li>

        <li class="nav-item pcoded-menu-caption"><label>Absence</label></li>
        <li class="nav-item"><a href="{% url 'rooms:room_list' %}" class="nav-link">Liste des absences</a></li>
        {% endif %}

        {% comment %} <!-- Section Notification pour tous les utilisateurs -->
        <li class="nav-item pcoded-menu-caption"><label>Notifications</label></li>
        <li class="nav-item"><a href="#" class="nav-link">Voir les notifications</a></li> {% endcomment %}

        
      {% if user.is_superuser %}  
          
        {% admin_get_menu as app_list %}
        {% if app_list %}
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
              <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                class="nav-item pcoded-hasmenu"
              >
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class=" {% if app.icon %}{{ app.icon }} {% else %} feather icon-box {% endif %}"></i></span>
                  <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                </a>
                {% if app.models %}
                  <ul class="pcoded-submenu">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                          <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
