{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Timelya</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>

        <!-- Tableau de bord accessible par tous les utilisateurs -->
        <li class="nav-item active">
          <a href="{% url "home:dashboard" %}" class="nav-link ">
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Tableau de bord</span>
          </a>
        </li>

        {% if user.is_admin %}
          {% if perms.users.view_customuser %}
            <!-- Section pour l'Admin -->
            <li class="nav-item pcoded-menu-caption"><label>Gestion des Utilisateurs</label></li>
            <!-- Menu des Admins -->
            {% if perms.users.view_adminprofile or perms.users.add_adminprofile %}
              <li class="nav-item pcoded-hasmenu">
              <a href="javascript:" class="nav-link ">
                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                <span class="pcoded-mtext">Administrateurs</span>
              </a>
              <ul class="pcoded-submenu">
                {% if perms.users.view_adminprofile %}
                  <li class="nav-item">
                    <a href="{% url 'users:admins_list' %}" class="nav-link">Liste des admins</a>
                  </li>
                {% endif %}
                {% if perms.users.add_adminprofile %}
                  <li class="nav-item">
                    <a href="{% url 'users:create_admin' %}" class="nav-link">Ajouter un admin</a>
                  </li>
                {% endif %}              
              </ul>
              </li>
            {% endif %}
            
            {% if perms.users.view_teacherprofile or perms.users.add_teacherprofile %}
              <!-- Menu des Professeurs -->
              <li class="nav-item pcoded-hasmenu">
              <a href="javascript:" class="nav-link ">
                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                <span class="pcoded-mtext">Professeurs</span>
              </a>
              <ul class="pcoded-submenu">
                {% if perms.users.view_teacherprofile %}
                  <li class="nav-item">
                  <a href="{% url 'users:teachers_list' %}" class="nav-link">Liste des professeurs</a>
                </li>  
              {% endif %}            
                {% if perms.users.add_teacherprofile %}
                  <li class="nav-item">
                    <a href="{% url 'users:create_teacher' %}" class="nav-link">Ajouter un professeur</a>
                  </li>
                {% endif %}
              </ul>
              </li>
            {% endif %}
            
            {% if perms.users.view_studentprofile or perms.users.add_studentprofile %}
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                  <span class="pcoded-mtext">Étudiants</span>
                </a>
                <ul class="pcoded-submenu">
                  {% if perms.users.view_studentprofile %}
                    <li class="nav-item">
                      <a href="{% url 'users:students_list' %}" class="nav-link">Liste des étudiants</a>
                    </li>
                  {% endif %}              
                  {% if perms.users.add_studentprofile  %}
                    <li class="nav-item">
                      <a href="{% url 'users:create_student' %}" class="nav-link">Ajouter un étudiant</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}

            {% if perms.users.view_parentprofile or perms.users.add_parentprofile  %}
              <!-- Menu des Parents -->
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                  <span class="pcoded-mtext">Parents</span>
                </a>
                <ul class="pcoded-submenu">
                  {% if perms.users.view_parentprofile %}
                    <li class="nav-item">
                      <a href="{% url 'users:parents_list' %}" class="nav-link">Liste des parents</a>
                    </li>
                  {% endif %}
                  {% if perms.users.add_parentprofile  %}
                    <li class="nav-item">
                      <a href="{% url 'users:create_parent' %}" class="nav-link">Ajouter un parent</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
            
          <li class="nav-item active">
            <a href="{% url 'home:dashboard' %}" class="nav-link ">
              <span class="pcoded-micon"><i class="feather icon-bell"></i></span>
              <span class="pcoded-mtext">
                Notification
                {% if notification_count > 0 %}
                  <span class="badge badge-danger">{{ notification_count }}</span>
                {% endif %}
              </span>
            </a>
          </li>

          {% comment %} {% if perms.timetable.view_timetable or perms.availability.view_availabilityrequest %} {% endcomment %}
              <li class="nav-item pcoded-menu-caption">
                <label>Planning</label>
              </li>
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-user-check"></i></span>
                  <span class="pcoded-mtext">Suivi des présences</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="nav-item">
                      <a href="#" class="nav-link">Liste de présences</a>
                    </li>  
                    <li class="nav-item">
                      <a href="#" class="nav-link">Rappoort & Statistique </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Archives </a>
                    </li> 
                </ul>
              </li>
          {% comment %} {% endif %} {% endcomment %}

          {% if perms.common.view_departmentlevelsubject or perms.courses.view_department or perms.rooms.view_room or perms.subjects.view_subject %}
            <li class="nav-item pcoded-menu-caption">
              <label>Apps & autres</label>
            </li>

            <!-- Menu des des apps gestions des matières -->
            {% if perms.subjects.view_subject or perms.subjects.add_subject %}
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                  <span class="pcoded-mtext">Matières</span>
                </a>
                <ul class="pcoded-submenu">
                  {% if perms.subjects.view_subject %}
                    <li class="nav-item">
                      <a href="{% url 'subjects:subject_list' %}" class="nav-link">Liste des matières </a>
                    </li>
                  {% endif %}
              
                  {% if perms.subjects.add_subject %}
                    <li class="nav-item">
                      <a href="{% url 'subjects:subject_add' %}" class="nav-link">Ajouter une matière</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
            
            <!-- Menu des Filières -->
            {% if perms.courses.view_department or perms.courses.add_department %}
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                  <span class="pcoded-mtext">Filières</span>
                </a>

                <ul class="pcoded-submenu">
                  {% if perms.courses.view_department %}
                    <li class="nav-item">
                      <a href="{% url 'courses:departmentlevel_list' %}" class="nav-link">Liste des Filières</a>
                    </li>
                  {% endif %}
                
                  {% if perms.courses.add_department %}
                    <li class="nav-item">
                      <a href="{% url 'courses:departmentlevel_add' %}" class="nav-link">Ajouter une filières</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
            
            <!-- Menu des Matières/Filières -->
            {% if perms.common.view_departmentlevelsubject or perms.common.add_departmentlevelsubject %}
              <li class="nav-item pcoded-hasmenu">
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                  <span class="pcoded-mtext">Matières/Filières</span>
                </a>
                <ul class="pcoded-submenu">
                  {% if perms.common.view_departmentlevelsubject %}
                    <li class="nav-item">
                      <a href="{% url 'common:departmentlevelsubject_list' %}" class="nav-link">Liste des Matières/Filières</a>
                    </li>
                  {% endif %}
                  
                  {% if perms.common.add_departmentlevelsubject %}
                    <li class="nav-item">
                      <a href="{% url 'common:departmentlevelsubject_add' %}" class="nav-link">Ajouter une Matières/Filières</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}


        {% if user.is_superuser %}  
          {% admin_get_menu as app_list %}
          {% if app_list %}
            {% for app in app_list %}
              {% if app.has_perms and not app.pinned %}
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                  class="nav-item pcoded-hasmenu"
                >
                  <a href="javascript:" class="nav-link ">
                    <span class="pcoded-micon"><i class=" {% if app.icon %}{{ app.icon }} {% else %} feather icon-box {% endif %}"></i></span>
                    <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                  </a>
                  {% if app.models %}
                    <ul class="pcoded-submenu">
                      {% for model in app.models %}
                        {% if model.url %}
                          <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                            <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                          </li>
                        {% else %}
                          <li class="nav-item">{{ model.label }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>