{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Liste des Matières par Filière</h5>
                
                {% if perms.common.add_departmentlevelsubject %}
                    <a href="{% url create_url %}" class="btn btn-success float-right"> <i style="color: white;" class="fa fa-plus-circle"></i>Ajouter une Matière à une Filière</a>
                {% endif %}
                    
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col" >#</th>
                                <th scope="col" >Filière</th>
                                <th scope="col" >Niveau</th>
                                <th scope="col" >Matière</th>
                                <th scope="col" >Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dls in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ dls.department_level.department.name }}</td>
                                <td>{{ dls.department_level.level.name }}</td>
                                <td>{{ dls.subject.name }}</td>
                                <td>
                                    
                                    {% if perms.common.change_departmentlevelsubject %}
                                        <a href="{% url edit_url dls.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                    {% endif %}
                                    {% if perms.common.delete_departmentlevelsubject %}
                                        <a href="{% url delete_url dls.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                                    {% endif %}
                                        
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
