{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>{{title}}</h5>
                
                {% if perms.courses.add_level %}
                    <a href="{% url create_url %}" class="btn btn-success float-right"><i class="fa fa-plus-circle"></i>Ajouter un Niveau</a>
                {% endif %}
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col" >#</th>
                                <th scope="col" >Nom du Niveau</th>
                                <th scope="col" >Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for level in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ level.name }}</td>
                                <td>
                                    
                                    {% if perms.courses.change_level %}
                                        <a href="{% url edit_url level.id %}" class="btn btn-sm btn-warning">Modifier</a>
                                    {% endif %}

                                    {% if  perms.courses.delete_level%}
                                        <a href="{% url delete_url level.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                                    {% endif %}

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
